JWT_SECRET=add-your-secret-key-here
SPRING_DATABASE_URL=connect-your-database-here-using-the url
SPRING_DATABASE_PASSWORD=provide-your-password-to-the-database
SPRING_DATABASE_USERNAME=postgres
GOOGLE_CLIENT_ID=provide-your-google-client-id
GOOGLE_CLIENT_SECRET=provide-your-google-client-secret
PORT=add-the-port-your-application-is-listening-to

BREVO_API=add-the-generated-key-given-by-brevo-to-be-used-as-an-API-KEY
BREVO_MAIL=add-the-email-used-when-creating-brevo-account
BREVO_SENDER_NAME=Rwanda Supply Chain

ADMIN_USERNAME=admin@rwandasupply.com
ADMIN_PASSWORD=RwandaSupplyChain123!


CLOUDINARY_CLOUD_NAME=add-your-cloudinary-name
CLOUDINARY_API_KEY=add-the-api-key-provided-by-cloudinary
CLOUDINARY_API_SECRET=add-the-api-secret-provided-by-cloudinary